<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/admin/style.css}">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <style>
         .box {
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     background-color: white;
  }
    </style>
</head>

<body id="body-pd" style= "background-color  : #f9f9fc;">
<div th:include="~{admin/fragments/navFragment :: navigation}"></div>
<main class="container-fluid ms-sm-3 ps-5">
    <h3>Add Category</h3>
    <div class="d-flex justify-content-between">
        <div class="directory">
            <span class="dashboard-indicator">Dashboard </span> > Add Category
        </div>
        <div class="bg-success mt-2 pt-1 text-white text-center fw-semibold" style="height:30px;border-radius:5px;" th:if="${message}" th:text="${message}"></div>
    </div>
    <div class="box mt-5">
        <h4 class="p-5 pb-4">Add Categories</h4>
        <form class="ps-5 pb-5 pt-0" method="post" th:action="@{/admin/categories/saveCategory}">
            <div class="col-8 mt-3">
                <label class="fw-semibold form-label" for="">Category Name</label>
                <input class="form-control bg-body-tertiary" name="categoryName" placeholder="Enter Category name" type="text">
            </div>
            <div class="col-8 mt-4">
                <label class="fw-semibold form-label" for="">Brand Name</label>
                <input class="form-control bg-body-tertiary" name="brandName" placeholder="Enter Brand name" type="text">
            </div>
            <div class="product-button-div mt-5 mb-5">
                <input class="add-product-btn" type="submit" value="Add Category">
            </div>
        </form>
    </div>
</main>
</body>
</html>