<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Needus | Coupons</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/styles/admin/style.css}">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <style>
         body{
        background-color  : #f9f9fc;
  font-family: 'nunito', sans-serif;

    }
    table {
      border: 1px solid gray;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    .pointer {
      cursor: pointer;
    }

    .edit:hover {
      color: green;
    }

    .block:hover {
      color: rgb(184, 163, 0);
    }

    .delete:hover {
      color: red;
    }
     .box {
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background-color: white;

  }
    </style>
</head>
<body id="body-pd">
    <div th:include="~{admin/fragments/navFragment :: navigation}"></div>
    <main class="container-fluid ms-sm-3 ps-5">
        <h3>Coupons</h3>
        <div class="d-flex justify-content-between">
            <div class="directory">
                <span class="dashboard-indicator">Dashboard </span> > Products
            </div>
            <a class="product-button-div" th:href="@{/admin/coupons/addCoupon}">
                <button class="add-product-btn">
                    Add Coupons
                </button>
            </a>
        </div>
        <div class="bg-info mt-2 pt-1 text-dark text-center fw-semibold" style="height:30px;border-radius:5px;"
             th:if="${successMsg}" th:text="${successMsg}"></div>

        <div class="search mt-4">
            <form method="post" th:action="@{/admin/users/search}">
                <label class="form-label" for="search"></label>
                <input class="form-control-md d-block" id="search" name="search" placeholder="Search coupons"
                       style="border-radius: 5px; border: 1px solid gray; padding-left: 10px; height: 35px;" type="text">
            </form>
        </div>
        <div class="table-responsive-md box">
            <table class="table mt-5 text-center">
                <thead>
                <tr>
                    <th class="bg-body-secondary" scope="col">Coupon Name</th>
                    <th class="bg-body-secondary" scope="col">Coupon Code</th>
                    <th class="bg-body-secondary" scope="col">Coupon Discount</th>
                    <th class="bg-body-secondary" scope="col">Created at</th>
                    <th class="bg-body-secondary" scope="col">Expiration Date</th>
                    <th class="bg-body-secondary" scope="col">Status</th>
                    <th class="col-lg-1 bg-body-secondary" scope="col">Action</th>
                </tr>
                </thead>
                <tbody class="text-center" >
                <tr class="pointer" th:each="coupon : ${coupons}">
                    <td class="">
                        <div th:text="${coupon.couponName}"></div>
                    </td>
                    <td class="fw-bold">
                        <div th:text="${coupon.couponCode}"></div>
                    </td>
                    <td><span  th:text="${coupon.couponDiscount}*100"></span>%</td>
                    <td th:text="${coupon.createdDate}"></td>
                    <td>
                        <div th:text="${coupon.expirationDate}"></div>
                    </td>
                    <td>
                        <div class="fw-semibold ms-2 p-1 mt-2" style="background-color: rgba(255, 204, 203, 0.7); font-size: 13px; color:#8B0000; border-radius:10px; width:80%;" th:unless="${coupon.isValid}">
                            INVALID
                        </div>
                        <div class="fw-semibold ms-2 p-1 mt-2" style="background-color:rgba(158, 238, 158, 0.7); font-size: 13px; color:#013220; border-radius:10px; width:80%;" th:if="${coupon.isValid}">
                            VALID
                        </div>
                    </td>
                    <td>
                        <form class="d-inline" method="post" th:action="@{'/admin/coupon/invalidate/' +${coupon.couponId}}">
                <span class=""><button class="block btn" type="submit"><i class="bx bx-block"></i>
                </button></span>
                        </form>
                        <form class="d-inline" method="post" th:action="@{'/admin/coupon/delete/' + ${coupon.couponId}}">
                <span class=""><button class="delete btn" data-target="#deleteModal" data-toggle="modal" id="delete" type="submit">
                    <i class="bx bx-trash"></i>
                  </button></span>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="deleteModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" type="button">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>