<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Needus | Add Address</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/home-style.css}" />
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/user/addAddressStyle.css}">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<body>
<header class="container-fluid pt-2">
    <div aria-hidden="true" aria-labelledby="searchModalLabel" class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="searchModalLabel">Search</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form class="d-flex me-lg-3 pe-0 me-0 pe-lg-5 " method="get" role="search"
                          th:action="@{/shop/home}">
                        <input aria-label="Search" class="form-control me-2" name="search"
                               placeholder="Search Products" type="search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav class="container-fluid navbar navbar-expand-lg pe-3 pb-2">
        <div class="container-fluid">
            <div class="navbar-brand ms-sm-0 d-none d-md-inline-block">
                <a class="nav_logo pe-lg-5 pe-0 ps-5" href="#"> <span class="nav_logo-name">Needus</span><span
                        class="logo-dot">.</span>
                </a>
            </div>
            <div class="navbar-brand ms-sm-0 d-inline-block d-md-none">
                <a class="nav_logo pe-lg-5 pe-0 ps-5" href="#"> <span class="nav_logo-name">N</span><span
                        class="logo-dot">.</span>
                </a>
            </div>
            <form class="d-sm-flex me-lg-3 pe-0 me-0 d-none pe-lg-5 " method="get" role="search"
                  th:action="@{/shop/home}">
                <input aria-label="Search" class="form-control me-2" name="search" placeholder="Search Products"
                       type="search">
            </form>
            <a aria-expanded="false" class="nav-link d-sm-none" data-bs-target="#searchModal" data-bs-toggle="modal"
               role="button">
                <i class="bx bx-search"></i>
            </a>
            <ul class="dropdown-menu">
            </ul>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" id="nav-toggle"
                    type="button">
                <span><i class="bx bx-menu"></i></span>
            </button>
            <div class="collapse navbar-collapse ps-5" id="navbarSupportedContent">
                <ul class="navbar-nav mb-lg-2 gap-3 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link" th:href="@{/shop/home}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button">
                            Categories
                        </a>
                        <ul class="dropdown-menu">
                            <li th:each="category : ${categories}">
                                <a class="dropdown-item" th:href="@{'/shop/categories/' + ${category.categoryId}}"
                                   th:text="${category.categoryName}"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link icon-button" th:href="@{/user/cart-items}">
                            <i class="bx bx-cart pe-2"></i>Cart</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" th:href="@{/user/wishlist-items}"><i
                                class="bx bx-heart pe-2"></i>Wishlist</a>
                    </li>
                </ul>
            </div>
            <div class="d-lg-flex ms-5 gap-5 hide-on-collapse mt-4 mt-lg-0 pt-lg-0 d-none me-3 justify-content-end col-12 col-lg-2">
                <div class="d-flex gap-3 me-5 nav-item dropdown">
                    <div th:if="${not #authorization.expression('isAuthenticated()')}">
                        <a class="reg nav-link" th:href="@{/login}">Login</a>
                    </div>
                    <div th:if="${not #authorization.expression('isAuthenticated()')}">
                        <a class="reg nav-link" th:href="@{/signup}">Signup</a>
                    </div>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                           href="#" role="button">
                            <span th:text="${username}"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" th:href="@{/user/profile-settings}">Profile
                                    settings</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/user/cart-items}">Cart</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/user/my-orders}">My Orders</a>
                            </li>
                            <li>
                                <button class="btn btn-danger mt-2 ms-3" data-bs-target="#logoutModal"
                                        data-bs-toggle="modal" type="button">
                                    Logout
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<main class="container-fluid    ">
    <section>
        <div class="container">
            <div class="row gap-5">
                <div class="col-lg-12">
                    <div class="login-card mt-5 pt-xl-0 mt-xl-n5">
                        <form class="needs-validation" id="login-form" method="post"
                              th:action="@{'/user/addAddress/saveAddress/' + ${userId}}">
                            <input name="source" th:value="${source}" type="hidden">
                            <h2 class="login-text fw-bold mb-4 pb-3 pt-0" style="letter-spacing: 1px;">Please Enter Your Shipping Address</h2>
                            <h4 class="mt-5 fw-semibold ps-md-4">Shipping Address</h4>
                            <hr>
                            <div class="container">
                            <div class="col-12 col-md-6 ms-md-3 ps-md-3">
                            <div class="form-outline mt-5 mb-4">
                                <label class="form-label fw-bold" for="firstName">First Name</label>
                                <input class="form-control form-control-lg mt-2" id="firstName" name="firstName"
                                       required type="text" />
                                <span id="user_error_msg" style="color:red"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label fw-bold" for="lastName">Last Name</label>
                                <input class="form-control form-control-lg" id="lastName" name="lastName" required/>
                                <span id="email_error_msg" style="color:red"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label fw-bold" for="company">Building name</label>
                                <input class="form-control form-control-lg" id="company" name="company" required />

                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label fw-bold" for="streetAddress">Street Address</label>
                                <input class="form-control form-control-lg" id="streetAddress" name="streetAddress" required />
                                <span id="confirm_error_msg" style="color:red"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label fw-bold" for="city">City</label>
                                <input class="form-control form-control-lg" id="city" name="city" required />
                                <span id="error_msg" style="color:red"></span>
                            </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label fw-bold" for="state">State</label>
                                    <input class="form-control form-control-lg" id="state" name="state" required />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label fw-bold" for="postalCode">Zip/Postal Code</label>
                                    <input class="form-control form-control-lg" id="postalCode" name="postalCode" required />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label fw-bold" for="contactNumber">Contact Number</label>
                                    <input class="form-control form-control-lg" id="contactNumber" name="contactNumber" required type="tel" />
                                </div>
                            </div>
                                <hr class="mt-2">

                            <div class="d-flex justify-content-end me-md-5">
                                <button class="btn login-button d-flex justify-content-center px-5 p-md-0" id="validate" type="submit">Next</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
        </div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<script crossorigin="anonymous" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>