<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Confirmation</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center">NEEDUS <span style="color:#E73C17;">.</span></h1>
        <h3 th:text="${title}"></h3>
        <p class="">Thank you for signing up. Please click on the link to verify your email address </p>
        <hr>
        <a style="text-decoration: none; cursor: pointer; display: flex; justify-content: center; align-items: center;" th:href="${link}">
            <button class="button-2" role="button" style="background-color: #E73C17;
            border-radius: 8px;
            border-width: 0;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: 'nunito', sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            list-style: none;
            margin: 0;
            padding: 10px 12px;
            text-align: center;
            transition: all 200ms;
            vertical-align: baseline;
            white-space: nowrap;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;">Activate</button>
        </a>
    </div>
</body>
</html>