<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Needus |Categories</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/home-style.css}" />
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <style>
        .add-to-cart-btn{
            background-color : white;
            border : 1px solid #E73C17;
            color : #E73C17;
            height:27px;
            width : 50px;
            font-size : 13px;
            font-weight : 800;
            padding-top : -20px;
        }
         .add-to-cart-btn:hover{
            background-color : #E73C17;;
            border : 1px solid #E73C17;
            color : #FFFFFF;
            height:27px;
            width : 50px;
            font-size : 13px;
            font-weight : 800;
            padding-top : -20px;
        }
        .blur-background {
            filter: blur(5px);
        }
           .checkbox-columns {
    column-count: 3; /* Adjust the number of columns as per your preference */
    column-gap: 10px; /* Adjust the gap between columns */
    list-style: none; /* Remove default list styles */
}
.checkbox-columns li {
    display : block;
    margin-bottom: 10px; /* Adjust the space between each checkbox and label */
}
    </style>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Logout Confirmation</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>

            <!-- Modal Body with the Form -->
            <div class="modal-body">
                <form method="post" th:action="@{/logout}">
                    <p>Are you sure you want to logout?</p>
                    <!-- Add any additional content or form elements here if needed -->
                    <div class="modal-footer">
                        <!-- Form Submit Button -->
                        <input class="btn btn-danger" type="submit" value="Logout">
                        <!-- Close Modal Button -->
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<header class="container-fluid pt-2">
    <div aria-hidden="true" aria-labelledby="searchModalLabel" class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="searchModalLabel">Search</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form class="d-flex me-lg-3 pe-0 me-0 pe-lg-5 " method="get" role="search"
                          th:action="@{/shop/home}">
                        <input aria-label="Search" class="form-control me-2" name="search"
                               placeholder="Search Products" type="search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav class="container-fluid navbar navbar-expand-lg mt-0 pe-3 pb-2">
        <div class="container-fluid">
            <div class="navbar-brand ms-sm-0 d-none d-md-inline-block">
                <a class="nav_logo pe-lg-5 pe-0 ps-5" href="#"> <span class="nav_logo-name">Needus</span><span
                        class="logo-dot">.</span>
                </a>
            </div>
            <div class="navbar-brand ms-sm-0 d-inline-block d-md-none">
                <a class="nav_logo pe-lg-5 pe-0 ps-5" href="#"> <span class="nav_logo-name">N</span><span
                        class="logo-dot">.</span>
                </a>
            </div>
            <form class="d-sm-flex me-lg-3 pe-0 me-0 d-none pe-lg-5 " method="get" role="search"
                  th:action="@{/shop/home}">
                <input aria-label="Search" class="form-control me-2" name="search" placeholder="Search Products"
                       type="search">
            </form>
            <a aria-expanded="false" class="nav-link d-sm-none" data-bs-target="#searchModal" data-bs-toggle="modal"
               role="button">
                <i class="bx bx-search"></i>
            </a>
            <ul class="dropdown-menu">
            </ul>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" id="nav-toggle"
                    type="button">
                <span><i class="bx bx-menu"></i></span>
            </button>
            <div class="collapse navbar-collapse ps-5" id="navbarSupportedContent">
                <ul class="navbar-nav mb-lg-2 gap-3 mb-lg-0">
                    <li class="nav-item active">
                        <a aria-current="page" class="nav-link" th:href="@{/shop/home}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button">
                            Categories
                        </a>
                        <ul class="dropdown-menu">
                            <li th:each="category : ${categories}">
                                <a class="dropdown-item" th:href="@{'/shop/categories/' + ${category.categoryId}}"
                                   th:text="${category.categoryName}"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link icon-button" th:href="@{/user/cart-items}">
                            <span class="icon-button__badge" th:text="${cartSize}" th:unless="${cartSize} == 0"></span>
                            <i class="bx bx-cart pe-2"></i>Cart</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" th:href="@{/user/wishlist-items}"><i
                                class="bx bx-heart pe-2"></i>Wishlist</a>
                    </li>
                </ul>
            </div>
            <div class="d-lg-flex ms-5 gap-5 hide-on-collapse mt-4 mt-lg-0 pt-lg-0 d-none me-3 justify-content-end col-12 col-lg-2">
                <div class="d-flex gap-3 me-5 nav-item dropdown">
                    <div th:if="${not #authorization.expression('isAuthenticated()')}">
                        <a class="reg nav-link" th:href="@{/login}">Login</a>
                    </div>
                    <div th:if="${not #authorization.expression('isAuthenticated()')}">
                        <a class="reg nav-link" th:href="@{/signup}">Signup</a>
                    </div>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                           href="#" role="button">
                            <span th:text="${username}"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" th:href="@{/user/profile-settings}">Profile
                                    settings</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/user/cart-items}">Cart</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/user/my-orders}">My Orders</a>
                            </li>
                            <li>
                                <button class="btn btn-danger mt-2 ms-3" data-bs-target="#logoutModal"
                                        data-bs-toggle="modal" type="button">
                                    Logout
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="fw-bold mt-5" style="font-size:24px; text-align:center; vertical-align:center;" th:if="${products.isEmpty()}">
    No products can be found for applied filter options.
</div>
<main class="container" th:unless="${products.isEmpty()}">
    <div class="">
        <span class="fw-semibold text-muted">Discover</span>
        <h3>Our Brand New Products</h3>
    </div>
    <div th:if="${message}" th:text="${message}"></div>
    <div class="">
        <div class="row border">
            <div class="pt-4 d-md-none justify-content-end d-flex">
                <a aria-expanded="false" class="dropdown-toggle pe-5" data-bs-target="#filterModal"
                   data-bs-toggle="modal" style="text-decoration:none; color:black;"
                   type="button">
                <span class="fw-semibold">Filter <i class="bx bx-filter-alt"
                                                    style="color:black; text-decoration:none;"></i></span>
                </a>
                <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="filterModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h5 class="modal-title">Filter Products</h5>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                            </div>

                            <!-- Modal Body with the Form -->
                            <div class="modal-body">
                                <form th:action="@{/shop/filterProducts}">
                                    <ul class="pb-5 pt-5"   >
                                        <li>
                                            <div class="fw-bold mb-1 mt-3">Enter your price Range :</div>
                                            <label class="form-label small" for="min-amount">
                                                Minimum Price:
                                            </label>
                                            <input class="form-input" id="min-amount" min="0" name="min-price" style="width:15%;"
                                                   type="number" value=100>
                                            <label class="form-label small ps-3" for="max-amount">
                                                Maximum Price:
                                            </label>
                                            <input class="form-input" id="max-amount" name="max-price" style="width:15%;"
                                                   type="number" value=100000>
                                            <hr>
                                        </li>
                                        <div class="fw-bold mb-2">Brands : </div>
                                        <div class="checkbox-columns">
                                            <li class="" th:each="brand : ${brands}">
                                                <input class="d-inline ps-2" name="brand" th:id="${brand.brandId}"
                                                       th:value="${brand.brandId}" type="checkbox">
                                                <label class="small me-2" th:for="${brand.brandId}"
                                                       th:text="${brand.brandName}"></label>
                                            </li>
                                        </div>
                                        <hr>
                                        <div class="fw-bold mb-2">Filter options : </div>
                                        <div class="checkbox-columns">
                                            <li class="" th:each="filter : ${filters}">
                                                <input class="d-inline ps-2" name="filter" th:value="${filter.filterId}"
                                                       type="checkbox">
                                                <span class="small me-2" th:text="${filter.filterName}"></span>
                                            </li>
                                        </div>
                                        <li class="d-flex justify-content-end mt-3 me-5">
                                            <button class="btn bg-success text-light fw-bold" type="submit">Apply</button>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-4 d-md-flex justify-content-end d-none">
                <a aria-expanded="false" class="dropdown-toggle pe-5" data-bs-toggle="dropdown" href="#" id="toggle"
                   role="button" style="text-decoration:none; color:black;">
                        <span class="fw-semibold">Filter <i class="bx bx-filter-alt"
                                                            style="color:black; text-decoration:none;"></i></span></a>
                <form th:action="@{/shop/filterProducts}">
                    <ul class="dropdown-menu container ps-5 pb-3"
                        style="width : 40%; min-width:40%; min-height : 40%; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
                        <li>
                            <div class="fw-bold mb-1 mt-3">Enter your price Range :</div>
                            <label class="form-label small" for="min">
                                Minimum Price:
                            </label>
                            <input class="form-input" id="min" name="min-price" step="500" style="width:15%;"
                                   type="number" value="100">
                            <label class="form-label small ps-3" for="max">
                                Maximum Price:
                            </label>
                            <input class="form-input" id="max" name="max-price" step="500" style="width:15%;"
                                   type="number" value="100000">
                            <hr>
                        </li>

                        <div class="fw-bold mb-2">Brands : </div>
                        <div class="checkbox-columns">
                            <li class="" th:each="brand : ${brands}">
                                <input class="d-inline ps-2" name="brand" th:id="${brand.brandId}"
                                       th:value="${brand.brandId}" type="checkbox">
                                <label class="small me-2" th:for="${brand.brandId}"
                                       th:text="${brand.brandName}"></label>
                            </li>
                        </div>
                        <hr>
                        <div class="fw-bold mb-2">Filter options : </div>
                        <div class="checkbox-columns">
                            <li class="" th:each="filter : ${filters}">
                                <input class="d-inline ps-2" name="filter" th:value="${filter.filterId}"
                                       type="checkbox">
                                <span class="small me-2" th:text="${filter.filterName}"></span>
                            </li>
                        </div>
                        <li class="d-flex justify-content-end mt-3 me-5">
                            <button class="btn bg-success text-light fw-bold" type="submit">Apply</button>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="product-box col-lg-3 col-sm-6 col-6 d-flex flex-column align-items-center mt-3 product-item"
                 th:each="product : ${products.content}">
                <a class="d-flex flex-column align-items-center" style="text-decoration:none; color:black;"
                   th:href="@{'/shop/home/product-details/' + ${product.productId}}">
                    <div class="product"><img alt="" class="img-fluid" style="object-fit: contain;"
                                              th:src="${product.imageFilePath}">
                        <ul class="d-flex gap-2 align-items-center justify-content-center list-unstyled icons">
                            <li th:unless="${product.stock}<=1">
                                <form method="post" th:action="@{'/user/add-to-cart/' + ${product.productId}}">
                                    <button class="icon" style="border:none;" type="submit">
                                        <i class="bx bx-cart"></i>
                                    </button>
                                </form>
                            </li>
                            <li>
                                <form method="post" th:action="@{'/user/add-to-wishlist/' + ${product.productId}}">
                                    <button class="icon" style="border:none;" type="submit">
                                        <i class="bx bx-heart"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <span class="text-danger fw-bold" th:if="${product.stock}<=1">Out of stock</span>
                    <div class="title pt-3 pb-1">
                        <span th:text="${product.productName}"></span>
                        <div>
                            <div style="color: gold;" th:if="${product.getAverageRating() == 0}">
                                <i  class="fas fa-star"></i>
                                <i class="far fa-star" th:each="star : ${#numbers.sequence(product.getAverageRating(),3)}"></i>
                            </div>
                            <div style="color: gold;" th:unless="${product.getAverageRating() == 0}">
                                <i class="fas fa-star d-inline" th:each="star : ${#numbers.sequence(1, product.getAverageRating())}"></i>
                                <i class="far fa-star d-inline" th:each="star : ${#numbers.sequence(product.getAverageRating()+1, 5)}" th:unless="${product.getAverageRating() == 5}"></i>
                            </div>
                        </div>
                        <div>
                            <div th:unless="${product.productPrice == product.basePrice}">
                                <div class="text-decoration-line-through text-muted" style="margin-bottom : 0px;">₹ <span th:text="${product.basePrice}"></span></div>
                                <div class="price" style="margin-top : 0px;">₹ <span th:text="${product.productPrice}"></span></div>
                            </div>
                            <div class="price" th:if="${product.productPrice == product.basePrice}">₹ <span th:text="${product.productPrice}"></span></div>
                        </div>
                    </div>
                    <div class="d-flex gap-4" th:unless="${product.stock}<=1">
                        <form method="post" th:action="@{'/user/add-to-cart/' + ${product.productId}}">
                            <button class="btn add-to-cart-btn" type="submit">
                                <i class="bx bx-cart"></i>
                            </button>
                        </form>
                        <form method="post" th:action="@{'/user/add-to-wishlist/' + ${product.productId}}">
                            <button class="btn add-to-cart-btn" type="submit">
                                <i class="bx bx-heart"></i>
                            </button>
                        </form>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
<div th:if="${products.totalPages > 1}">
    <ul class="pagination">
        <li class="page-item" th:if="${!products.first}">
            <a class="page-link" th:href="@{'/products?page=' + ${products.number}}">Previous</a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(1, products.totalPages)}">
            <a class="page-link" th:href="@{'/products?page=' + ${i}}">[[${i}]]</a>
        </li>
        <li class="page-item" th:if="${!products.last}">
            <a class="page-link" th:href="@{'/products?page=' + ${products.number + 2}}">Next</a>
        </li>
    </ul>
</div>
<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#nav-toggle').on('click', function() {
        console.log($(this).attr('aria-expanded'))
        if ($(this).attr('aria-expanded') === "true") {
            $('.hide-on-collapse').toggleClass('d-none');
        } else {
            $('.hide-on-collapse').toggleClass('d-none');
        }
    });
</script>
</body>

</html>